.experience-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

textarea {
  grid-column: span 2;
  resize: vertical;
  padding: 8px;
}

input,
textarea {
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.message {
  margin-top: 10px;
  font-style: italic;
  color: red;
}
